#Logo {
    background-image: url(../ASSETS/Logo.png);
    background-position: center;
}
.navbar-blue {
    background-color: rgb(0, 4, 122)
}
.navbar-top {
    background-color: black;
}
.navbar-top .navbar-brand,
        .navbar-top .navbar-text {
            color: white;
            display: flex;
            justify-content: space-evenly;
        }
#headerPic {
    background-image: url(../ASSETS/header.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    display: flex;
    height: 500px;
    
    /* width: 100%;
    height: 100%; */
}
.wheelOfLuxury {

    background: #000324 0% 0% no-repeat padding-box;
    opacity: 0.8;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    text-align: center;
    /* display: flex; */
}
.paradiseBox {
    align-content: space-between;
    align-items: flex-end;
    display: flexbox;
    margin: 392px;

}
#paradiseHome {
    justify-content: end;
    width: 369px;
    height: 416px;
    opacity: 1;
    /* background-position: center; */
}
.paradiseText {
    align-items: flex-end;
    
}
#OurRoomsCards {
    justify-content: center;
    align-content: space-between;
    display: flex;
}
.card-title {
    text-align: left;
    font: normal normal normal 25px/32px Dosis;
    letter-spacing: 0px;
    color: #1A1B26;
    opacity: 1;
}
.card-body {
    text-align: left;
    font: normal normal normal 16px/20px Dosis;
    letter-spacing: 0px;
    color: #1A1B26;
    opacity: 1;
}
.card {
    
}